#headLiner {
  height: 100vh;
  background-color: $teal;
}
#subHead {
  color: white;
  z-index: 20;
  text-align: center;
}
.backImg {
  background: linear-gradient(rgba(23, 190, 172, 0.65), rgba(23, 190, 172, 0.65)), url(https://s3-us-west-1.amazonaws.com/gander/sd-visual.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
h1 {
  font-weight: 700;
  color: white;
}
.slander {
  height: 35vh;
  background-color: $ultra;
  color: white;
}
#dragNdrop {
 height: 75vh;
 color: white;
 background-color: $peach;
}
.freeTrialBody {
  color: $peach;
  background: $ultra;
  padding: 1.3rem 3rem;
  border-radius: .8rem;
}
