header {
  background-color: $teal;
  height: 15vh;
  position: absolute;
  width: 100%;
}

#ganderType {
  font-weight: 700;
  color: $daisy;
}
#ganderNav {
}
.navLink {
  color: $daisy;
  font-weight: 700;
}
#freeTrial {
  font-weight: 700;
  background: $ultra;
  color: $daisy;
}
